<script lang="ts">
  import Leaderboard from "./Leaderboard.svelte";
  import type { ReplayFile, ReplayPlayer } from "$lib/types";

  import { browser } from "$app/environment";

  import AreaChart from "./AreaChart.svelte";
  import { favourites } from "$lib/stores/favourites";
  import ToggleFavourite from "./ToggleFavourite.svelte";
  import FortniteTrackerLink from "./FortniteTrackerLink.svelte";

  export let replay: ReplayFile;
  $: finishes = replay.eliminations.filter((k) => !k.knocked);

  const isStreamer = (player: ReplayPlayer) => {
    return ["ttv", "twitch", "youtube"].some((keyword) =>
      player.name.toLowerCase().includes(keyword)
    );
  };
</script>

<h1 class="text-2xl text-center font-extrabold">Replay analyse</h1>
<div class="flex flex-col gap-6">
  <section class="text-center">
    <h2 class="text-xl font-bold">Match stats:</h2>
    <p>Accuracy: {Math.round(replay.match_stats?.accuracy * 1000) / 10}%</p>
    <p>Assists: {replay.match_stats?.assists}</p>
    <p>Eliminations: {replay.match_stats?.eliminations}</p>
    <p>WeaponDamage: {replay.match_stats?.weapon_damage}</p>
    <p>OtherDamage: {replay.match_stats?.other_damage}</p>
    <p>Revives: {replay.match_stats?.revives}</p>
    <p>DamageTaken: {replay.match_stats?.damage_taken}</p>
    <p>DamageToStructures: {replay.match_stats?.damage_to_structures}</p>
    <p>MaterialsGathered: {replay.match_stats?.materials_gathered}</p>
    <p>MaterialsUsed: {replay.match_stats?.materials_used}</p>
  </section>

  <section class="text-center">
    <h2 class="text-xl font-bold">Match stats:</h2>
    <p>Total players: {replay.team_match_stats?.total_players}</p>
    <p>Position: {replay.team_match_stats?.position}</p>
    <p>
      Players left: {Math.max(
        0,
        replay.team_match_stats?.total_players -
          replay.eliminations.filter((e) => !e.knocked).length
      )}
    </p>
  </section>

  <section>
    {#if browser && replay}
      <AreaChart {finishes} />
    {/if}
  </section>

  <section class="flex flex-col justify-center">
    <h2 class="text-xl text-center mb-2 font-bold">Killfeed:</h2>
    {#if replay}
      <div class="flex flex-col gap-2 text-center self-center w-4/5">
        {#each finishes as elim}
          <div class="flex justify-between h-10">
            <div
              class="w-2/5 text-white font-bold p-2 flex justify-between"
              class:bg-green-500={!$favourites.includes(elim.eliminator.id) &&
                !isStreamer(elim.eliminator) &&
                !elim.eliminator.is_bot}
              class:bg-amber-500={$favourites.includes(elim.eliminator.id)}
              class:bg-purple-500={isStreamer(elim.eliminator)}
              class:bg-gray-500={elim.eliminator.is_bot}
            >
              <FortniteTrackerLink searchQuery={elim.eliminator.name}>
                {elim.eliminator.name || elim.eliminator.id}
                {#if elim.eliminator.is_bot}(NPC){/if}
              </FortniteTrackerLink>
              {#if !elim.eliminator.is_bot}
                <ToggleFavourite player={elim.eliminator} bind:replay />
              {/if}
            </div>
            <span class="w-1/5 font-bold text-center">killed with {elim.gun_type}</span>
            <div
              class="w-2/5 text-white font-bold p-2 flex justify-between"
              class:bg-red-500={!$favourites.includes(elim.eliminated.id) &&
                !isStreamer(elim.eliminated) &&
                !elim.eliminated.is_bot}
              class:bg-amber-500={$favourites.includes(elim.eliminated.id)}
              class:bg-purple-500={isStreamer(elim.eliminated)}
              class:bg-gray-500={elim.eliminated.is_bot}
            >
              <FortniteTrackerLink searchQuery={elim.eliminated.name}>
                {elim.eliminated.name  || elim.eliminated.id}
                {#if elim.eliminated.is_bot}(NPC){/if}
              </FortniteTrackerLink>
              {#if !elim.eliminated.is_bot}
                <ToggleFavourite player={elim.eliminated} bind:replay />
              {/if}
            </div>
          </div>
        {/each}
      </div>
    {/if}
  </section>

  <section class="flex flex-col justify-center">
    <Leaderboard {finishes} />
  </section>
</div>
