<script lang="ts">
  import type { ReplayElimination } from "$lib/types";
  import { scaleLinear } from "d3-scale";

  export let finishes: ReplayElimination[];
  const points = finishes.map((e, i) => ({ y: i, x: e.timestamp }));

  const yTicks = [
    0,
    finishes.length / 4,
    finishes.length / 2,
    finishes.length / 4 + finishes.length / 2,
    finishes.length,
  ];
  const lastFinish = finishes[finishes.length - 1]?.timestamp;
  const xTicks = [
    finishes[0]?.timestamp,
    lastFinish / 4,
    lastFinish / 2,
    lastFinish / 4 + lastFinish / 2,
    lastFinish,
  ];

  const padding = { top: 20, right: 15, bottom: 20, left: 25 };

  let width = 500;
  let height = 200;

  $: xScale = scaleLinear()
    .domain([minX, maxX])
    .range([padding.left, width - padding.right]);

  $: yScale = scaleLinear()
    .domain([Math.min.apply(null, yTicks), Math.max.apply(null, yTicks)])
    .range([height - padding.bottom, padding.top]);

  $: minX = points[0]?.x;
  $: maxX = points[points.length - 1]?.x;
  $: path = `M${points.map((p) => `${xScale(p.x)},${yScale(p.y)}`).join("L")}`;
</script>

<style>
  .tick line {
    stroke-dasharray: 2;
  }

  .tick text {
    text-anchor: start;
  }

  .tick.tick-0 line {
    stroke-dasharray: 0;
  }

  .x-axis .tick text {
    text-anchor: middle;
  }

  .path-line {
    fill: none;
    stroke: rgb(0, 100, 100);
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
  }
</style>

<div
  class="w-full max-w-[80vw] mx-auto"
  bind:clientWidth={width}
  bind:clientHeight={height}
>
  <svg class="relative w-full h-[400px] overflow-visible">
    <!-- y axis -->
    <g class="axis y-axis" transform="translate(0, {padding.top})">
      {#each yTicks as tick}
        <g
          class="tick tick-{tick} text-xs font-extralight"
          transform="translate(0, {yScale(tick) - padding.bottom})"
        >
          <line x2="100%" class="stroke-neutral-400" />
          <text y="-4" class="fill-neutral-500"
            >{tick}</text
          >
        </g>
      {/each}
    </g>

    <!-- x axis -->
    <g class="axis x-axis">
      {#each xTicks as tick}
        <g
          class="tick tick-{tick}"
          transform="translate({xScale(tick)},{height})"
        >
          <line y1="-{height}" y2="-{padding.bottom}" x1="0" x2="0" />
          <text y="-2">{Math.floor(tick/1000)}s</text>
        </g>
      {/each}
    </g>

    <!-- data -->
    <path class="path-line" d={path} />
  </svg>
</div>
