<script lang="ts">
  export let searchQuery: string;
  export let searchById = false;
  export let events = false;
</script>

{#if !events}
  <a
    href={`https://fortnitetracker.com/profile/search?q=${searchQuery}${
      searchById ? "&acctid=1" : ""
    }`}
    target="_tab"><slot /></a
  >
{:else}
  <a
    href={`https://fortnitetracker.com/profile/all/${searchQuery}/events`}
    target="_tab"><slot /></a
  >
{/if}
