<script lang="ts">
  import FortniteTrackerLink from "./FortniteTrackerLink.svelte";
  import type { ReplayElimination } from "./types";
  import { favourites } from "$lib/stores/favourites";
  import { recognizedPlayers } from "$lib/stores/analyzedGames";

  export let finishes: ReplayElimination[];

  $: killers = [
    ...finishes.reduce((acc, curr) => {
      const eliminator_key = `${curr.eliminator.name},${curr.eliminator.id}`;
      const eliminated_key = `${curr.eliminated.name},${curr.eliminated.id}`;
      if (!acc.has(eliminator_key)) {
        acc.set(eliminator_key, 0);
      }
      if (!acc.has(eliminated_key)) {
        acc.set(eliminated_key, 0);
      }
      acc.set(eliminator_key, acc.get(eliminator_key) + 1);

      return acc;
    }, new Map<string, number>()),
  ].sort((a, b) => b[1] - a[1]);
</script>

<div class="flex flex-col items-center">
  <h2 class="text-xl text-center mb-2 font-bold">Leaderboard:</h2>
  {#each killers as killer, index}
    {@const [name, id] = killer[0].split(",")}
    {@const isFavourite = $favourites.includes(id)}
    {#if name !== "Bot"}
      <div
        class="flex justify-between w-4/5 p-1"
        class:even:bg-neutral-200={!isFavourite}
        class:odd:bg-neutral-500={!isFavourite}
        class:odd:text-white={!isFavourite}
        class:bg-amber-500={isFavourite}
      >
        <div class="flex gap-2">
          <div>{index + 1}.</div>
          <FortniteTrackerLink searchQuery={id} searchById={true}>{name||id}</FortniteTrackerLink>
        </div>

        <div class="flex gap-2">
          <FortniteTrackerLink searchQuery={name} events>🏆</FortniteTrackerLink>
          {#if ($recognizedPlayers.get(id) || 0) > 1 && !isFavourite}
            {$recognizedPlayers.get(id)} views |
          {/if}
          {killer[1]} kills
        </div>
      </div>
    {/if}
  {/each}
</div>
