<script lang="ts">
  import FaPlusCircle from "svelte-icons/fa/FaPlusCircle.svelte";
  import FaMinusCircle from "svelte-icons/fa/FaMinusCircle.svelte";

  import type { ReplayFile, ReplayPlayer } from "$lib/types";
  import { favourites } from "$lib/stores/favourites";

  export let replay: ReplayFile;
  export let player: ReplayPlayer;

  $: isFavourite = $favourites.includes(player.id);

  const toggleFavourite = () => {
    if (isFavourite) {
      $favourites = [...$favourites.filter((pID) => pID !== player.id)];
      replay = { ...replay };
      return;
    }
    $favourites = [...$favourites, player.id];
    replay = { ...replay };
  };
</script>

<button on:click={toggleFavourite} class="h-6 w-6 hover:text-neutral-200" title={isFavourite ? "Remove from favourites" : "Add to favourites"}>
  {#if isFavourite}
    <FaMinusCircle />
  {:else}
    <FaPlusCircle />
  {/if}
</button>
