<script lang="ts">
  import type { ReplayFile } from "$lib/types";
  import { onMount } from "svelte";
  import { analyzedGames } from "$lib/stores/analyzedGames";
  import init, { parse } from "wasm-replay-reader";
  import Analyse from "$lib/Analyse.svelte";
  import {browser} from "$app/environment";

  let replayFiles: FileList;
  let replay: ReplayFile | undefined;
  let replayFile: File | undefined;
  $: replayFile = replayFiles ? replayFiles[0] : undefined;

  onMount(async () => {
    await init();
  });

  const handleSubmit = async () => {
    if(!browser) return;
    replay = undefined;
    if (!replayFile) return;
    if ($analyzedGames[replayFile.name]) {
      replay = $analyzedGames[replayFile.name] as ReplayFile;
      return;
    }

    replay = parse(new Uint8Array(await replayFile.arrayBuffer()));

    if (!replay) return;

    const accountIds: string[] = [];
    [...replay.eliminations.map((e) => e.eliminated), ...replay.eliminations.map((e) => e.eliminator)].forEach((p) => {
      if (!p.is_bot && p.id && !accountIds.includes(p.id)) accountIds.push(p.id);
    });

    await fetch("/api/fetchUserNames", {
      method: "post",
      body: JSON.stringify(accountIds),
    })
      .then(async (res) => (await res.json()).accounts)
      .then((accounts) => {
        accounts.forEach((a: Record<string, any>) => {
          replay?.eliminations.forEach((e) => {
            if (e.eliminated.id === a.id) e.eliminated.name = a.displayName || a.externalAuths[0].externalDisplayName;

            if (e.eliminator.id === a.id) e.eliminator.name = a.displayName || a.externalAuths[0].externalDisplayName;
          });
        });
      })
      .then(() => {
        if (!replayFile || !replay) return;
        $analyzedGames[replayFile.name] = replay;
        replay = { ...replay };
      });
  };

  const loadExample = async () => {
    const res = await fetch("/example_replay.json");
    if (res.ok) {
      replay = await res.json();
    }
  };
</script>

<button on:click={() => navigator.clipboard.writeText("%localappdata%/FortniteGame/Saved/Demos")} class="mb-2"
  >Click to copy replay folder path</button
>
<button on:click={loadExample}>Load example replay</button>
<form class="flex flex-col gap-2">
  <label for="file">Choose replay file:</label>
  <input
    bind:files={replayFiles}
    type="file"
    name="replay_file"
    accept=".replay"
    class="border rounded w-min p-2"
    on:change={handleSubmit}
  />
</form>

{#if replay}
  <Analyse {replay} />
{/if}
